.message-group-me, .message-group-friend {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both; }

.message {
  border-radius: 5px;
  padding: 10px;
  margin: 0px 20px;
  word-wrap: break-word;
  max-width: 80vw;
  clear: both; }

.message-group-me {
  float: right; }
  .message-group-me .message {
    background-color: #f1f1f1;
    color: black;
    float: right; }

.message-group-friend {
  float: left; }
  .message-group-friend .message {
    background-color: #9e9adb;
    color: white;
    float: left; }
