.message-me, .message-friend {
  border-radius: 5px;
  padding: 10px;
  margin: 5px 20px;
  word-wrap: break-word;
  max-width: 60vw;
  clear: both; }

.message-me {
  background-color: #f1f1f1;
  color: black;
  float: right; }

.message-friend {
  background-color: #9e9adb;
  color: white;
  float: left; }

.message-group {
  margin-top: 30px;
  margin-bottom: 30px; }
