@import '../_variables.scss';

%message-group{
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
}

.message{
    border-radius: 5px;
    padding: 10px;
    margin: 0px 20px;
    word-wrap: break-word;
    max-width: 80vw;
    clear: both;
}

.message-group-me{
    @extend %message-group;
    float: right;
    .message{
        background-color: rgb(241,241,241);
        color: black;
        float: right;
    }
}

.message-group-friend{
    @extend %message-group;
    float: left;
    .message{
        background-color: $secondColor;
        color: white;
        float: left;
    }
}